Package: com.myh1000.disembark
Name: Disembark
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: Don't have to go to settings to turn on stuff
Maintainer: michael huang
Author: michael huang
Section: Tweaks
