Package: com.myh1000.disembark
Name: Disembark
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: Turn on Cellular Data or Wi-Fi when alerted without going to Settings!
Homepage: https://myh1000.github.io/cydia/
//Depiction: https://myh1000.github.io/cydia/
Maintainer: Michael Huang <myh1000@gmail.com>
Author: Josh Doctors
Section: Tweaks
